name: Déploiement automatique

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Déploiement du projet
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

      - name: Connexion SSH et exécution de deploy.sh
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/progitek
            bash ./deploy.sh
